[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alembic = "*"
black = "*"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
pyyaml = "*"

[requires]
python_version = "3.13"
